body{
    background-image: url(img/vowel.preview.jpg);
    background-size: cover;
}

.contains{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 40vw;
    height: 50vh;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    border: 2px solid;
}

.para{
    text-align: center;
    visibility: hidden;
}

h1{
    font-size: 3vw;
}

button{
    width: 21.5px;
    height: 21.5px;
}